.about__header {
    margin: 4rem 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    /* border-style: dashed; */
}

.title h1 {
    font-size: 48px;
}


/* 
* PAGE HEADER FOR SOCIAL ICONS/LINKS
*/
.links {
    /* border-style: dashed; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0 240px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    color: black;
}

.link a:hover {
    color: red;
    transition: ease-out 0.2s;
}

.icon-background {
    color: greenyellow;
}
/* ==================== */

.about__container {
    margin: 4rem 12rem;
}

.about__section {
    margin-bottom: 2rem;
}

.about__section h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

/* ==================== */

.president {
    display: block;

    align-items: center;
    justify-content: center;
}

.president__img img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 50%;
}

.president__body {
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 24px;
}

.president__body p {

}


.about__team {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.member__img, .president__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.member__img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about__member {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-bottom: 4rem;
}

.member__body {

}

.member__body h3, .president__body h3 {
    font-size: 28px;
    margin: 0 0 24px 24px;
}

.member__body p, .president__body p {
    font-size: 20px;
    margin: 0px 0 24px 24px;
}



#navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

}