* h1, h2 {
    font-family: 'Titan One';
    font-weight: 400;
}

* p, h3 {
    font-family: 'Nanum Pen Script';
    font-weight: 500;
}
#banner {
    margin: 4rem 12rem;

}

.about__header {
    margin: 4rem 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    color: orange;
}

.title h1 {
    font-size: 64px;
}


/* 
* PAGE HEADER FOR SOCIAL ICONS/LINKS
*/
.links {
    display: grid;
    grid-template-columns: 84px 84px 84px 84px;
    list-style: none;
    justify-content: end;
}

.link {
    display: flex;
    margin-left: 12px; 
    margin-right: 0;
}

.link a {
    color: black;
}

.link a:hover {
    color: red;
    transition: ease-out 0.2s;
}

.icon-background {
    color: greenyellow;
}
/* ==================== */

.about__container {
    margin: 4rem 12rem;
}

.about__section {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.about__section h2 {
    font-size: 48px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about__section p {
    font-size: 28px;
}

/* ==================== */

.president {
    display: block;

    align-items: center;
    justify-content: center;
}

.president__img img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 50%;
}

.president__body {
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 24px;
}

.president__body p {

}


.about__team {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.member__img, .president__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.member__img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about__member {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-bottom: 4rem;
}

.member__body {
    height: 200px;
}

.member__body h3, .president__body h3 {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 24px 24px;
}

.member__body p, .president__body p {
    font-size: 28px;
    margin: 0px 12px 12px 24px;
}



#navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

}